{{!< shell}}
{{> "short-header"}}
<div class="site-content">
  <h2 class="listing-title">Tagged as <i>{{tag.name}}</i></h2>
  <div class="featured-listing">
    {{> "listing" }}
  </div>
</div>