html {
  height: 100%;
  font-family: "Prata", serif;
  font-size: 16px;
}

body {
  position: relative;
  background-color: #E6E3DE;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", serif;
  font-weight: normal;
}

.site-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D7695C;
  width: 100%;
  height: 200px;
  margin-top: 1.25rem;
  z-index: 1;
}

.full-header {
  height: 300px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-title-link {
  color: #E6E3DE;
  text-decoration: none;
}

.blog-title {
  display: inline-block;
  font-size: 4rem;
  color: #E6E3DE;
}

.full-header > a:first-of-type {
  margin: 20px 0 auto;
  position: relative;
  z-index: 4;
}

.full-header .blog-title {
  font-size: 1.5rem;
  margin: 0;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 10px 40px;
  background-color: #686963;
  color: #eee;
  box-sizing: border-box;
  align-items: center;
  z-index: 1;
}

.site-footer a {
  color: #abe1f4;
  text-decoration: none;
}

.site-footer .legal {
  width: 280px;
  text-align: right;
}

.site-content {
  font-family: "Asap", serif;
  flex-grow: 1;
  align-self: stretch;
  min-height: calc(100% - 280px);
  max-width: 1080px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: #F1EFED;
  box-sizing: border-box;
}

.listing-title {
  position: relative;
  text-align: center;
  font-size: 2.25rem;
  margin: 10px 0 15px;
}

.post-listing {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
}

.featured-listing {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
}

.category-listing {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-left: 40px;
}

.category-listing > h3 {
  position: relative;
  color: #787878;
  text-align: center;
  margin-bottom: 15px;
}

.tag-card {
  position: relative;
  margin: 15px 0;
  padding: 0 5px;
  box-sizing: border-box;
}

.tag-card a {
  text-decoration: none;
  color: #222;
}

.tag-card .tag-name {
  margin: 0 0 10px;
  font-size: 1.25rem;
}

.tag-card .tag-description {
  font-size: 0.875rem;
  font-style: italic;
  color: #666;
}

.post-card::after,
.category-listing > h3::after,
.listing-title::after,
.tag-card::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: #d0d0d0;
}

.category-listing > h3::after,
.tag-card::after {
  bottom: -15px;
}

.post-card::after,
.listing-title::after {
  bottom: -20px;
}

.category-listing::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -20px;
  top: 0;
  background-color: #d0d0d0;
}

.post-card {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  box-sizing: border-box;
}

.post-card a {
  text-decoration: none;
}

.post-card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  z-index: 2;
  box-sizing: border-box;
}

.post-card-title {
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
}

.post-card-title {
  color: #333;
}

.post-card-excerpt {
  color: #333;
  cursor: pointer;
}

.post-card-meta {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.author-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.post-card-author,
.post-card-published,
.post-card-author a,
.post-card-author a:visited {
  color: #333;
  text-decoration: none;
}

.post-card-meta-text {
  display: flex;
  flex-direction: column;
}

.post-title-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  height: 100%;
  z-index: 4;
  box-sizing: border-box;
  padding: 0 10px;
}

.post-title-content .post-title {
  font-size: 4rem;
  margin: 0;
  max-width: 1080px;
  text-align: center;
  line-height: 100px;
}

.post-title-content .post-author {
  font-size: 1.5rem;
}

.post-title-content .post-author a {
  text-decoration: none;
  color: #fff;
}

.post-content {
  box-shadow: none;
  max-width: 100%;
}

.post-content .article-body {
  width: 100%;
  max-width: 980px;
  min-height: 300px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: #333;
}

.article-statistics {
  width: 100%;
  max-width: 980px;
  margin: 10px auto 20px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #888;
}

.article-time {
  margin-bottom: 5px;
  display: block;
}

.article-tags {
  display: block;
}

.article-tags a {
  color: #5c6ad2;
  text-decoration: none;
}

.article-body p {
  line-height: 34px;
}

.article-body p:first-child {
  margin-top: 10px;
}

.article-body img {
  max-width: 100%;
}

.article-body a {
  text-decoration: none;
  color: #5c6ad2;
}

.article-body pre > code {
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.pagination {
  margin: 20px;
  text-align: center;
  color: #333;
}

.pagination a {
  text-decoration: none;
  color: #5c6ad2;
}

@media screen and (max-width: 768px) {
  .site-content {
    padding: 20px 5px;
  }

  .blog-title {
    font-size: 3rem;
    text-align: center;
  }

  .category-listing {
    display: none;
  }

  .site-footer {
    font-size: 0.75rem;
  }
  
  .post-title-content .post-title {
    font-size: 3rem;
    line-height: 1.2em;
  }

  .post-content .article-body {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 425px) {
  .site-header {
    height: 140px;
  }

  .site-footer {
    padding: 10px 15px;
    height: 85px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }

  .site-footer .legal {
    text-align: left;
    padding: 5px 0;
  }

  .blog-title {
    font-size: 2rem;
  }

  .post-card-title {
    font-size: 1.5rem;
  }

  .post-template .blog-title {
    font-size: 1.25rem;
  }

  .post-title-content .post-title {
    font-size: 1.75rem;
    line-height: 1em;
  }

  .post-title-content .post-author {
    font-size: 1rem;
    margin: 5px 0 0;
  }

  .post-content .article-body {
    font-size: 1rem;
  }
}